# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Hardhat
cache/
artifacts/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# Build outputs
dist/
build/

# Contract info
src/contractInfo.json

# OS
.DS_Store
Thumbs.db 

# 不忽略 images 目录
!public/images/
!public/images/* 